.clock-li-desc-group {
    float: left;
}

.clock-li-time {
    float: left;
    font-size: 2em !important;
    margin-right: 15px;
}

.clock-li-desc {
    margin-top: 0px;
}

.clock-li-slider {
    float: right;
}

.alarm-time {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.rat-clock-li-time {
    float: left;
    margin-right: 15px;
    font-size: 1.3em !important;
    padding-bottom: 8px;
    padding-top: 8px;
}

.repeat-label {
    margin-right: 15px;
}

.label-group input {
    margin-right: 5px;
}

.label-group span {
    font-size: 13px;
}

.week-label {
    margin-right: 10px;
}

.rat-alarm-time {
    font-size: 4em;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
}

.rat-alarm-space-up {
    height: 100px;
}

.rat-alarm-space-mid {
    height: 100px;
}

.rat-btn-block {
    float: left;
    display: block;
    width: 102.3px;
    padding: 15px 0;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
}

.song-card {
    background: #fff;
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
    margin: 0.5rem;
    position: relative;
    border-radius: 0.1rem;
}

.song-pic {
    text-align: center;
    padding: 15px 0;
}

.song-pic img {
    height: 300px;
}

.song-detail {
    padding: 8px 30px;
}

.sp {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    display: block;
}

.song-title {
    font-size: 18px;
    color: #222;
}

.song-artist {
}

/*.content {*/
    /*background: #fafafa;*/
/*}*/